.genplan-page {
    font-family: $main-font;
    position: relative;
    z-index: 0;
    background: url('assets/img/genplan.png') center center/cover no-repeat;
    &:after {
        content: '';
        position: absolute;
        background-color: $color-primary-light;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    & .container {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
}

.buld {
    height: calc(100vh - 230px);
    & .build_item {
        fill: #d4ff92bd;
        stroke: #008000;
        stroke-width: 5px;
        fill-opacity: 0;
        stroke-opacity: 0;
        transition: .2s;
        cursor: pointer;
        &.sold {
            fill: #ff9292bd;
            stroke: #800000;
            &:hover {
                cursor: no-drop;
            }
        }
        &:hover {
            fill-opacity: 0.7;
            stroke-opacity: 1;
        }
    }
}

.information_container {
    background-color: $color-primary-light;
    width: 100vw;
    align-self: center;
    padding: 0;
    margin: 0;
    border-top: 1px solid $text-color;
    & .information {
        padding: 15px 25px 20px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        color: $text-color;
        max-width: 1350px;
        margin: 0 auto;
        & h2 {
            font-size: 24px;
            text-align: center;
            font-weight: 600;
        }
        & .information_list {
            display: flex;
            justify-content: space-between;
            text-align: center;
            gap: 10px;
            & .list_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 19px;
                min-width: 252px;
                & i,
                & span {
                    font-size: 18px;
                    color: $hover-link;
                    font-weight: 700;
                    font-style: normal;
                }
            }
        }
    }
}