.page-floor {
    font-family: $main-font;
    &:after {
        content: "";
        position: absolute;
        background-color: $color-primary-light;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.floor {
    height: calc(100vh - 231px);
    display: flex;
    justify-content: center;
    & .flat {
        &.active {
            & .flat_stroke {
                stroke-width: 4px;
                opacity: 1;
            }
        }
    }
}

.number_overlay {
    fill: $flat-free;
    stroke: $color-black;
    stroke-width: 2px;
    .action & {
        fill: $flat-action;
    }
    .booked & {
        fill: $flat-booked;
    }
    .sold & {
        fill: $flat-sold;
    }
}

.flat_stroke {
    stroke: $stroke-green;
    fill: $fill-green;
    opacity: 0;
    transition: .2s;
    cursor: pointer;
    .sold & {
        fill: $fill-red;
        stroke: $stroke-red;
    }
    &:hover {
        stroke-width: 4px;
        opacity: 0.5;
    }
}

.status_overlay {
    fill: #ffffff;
    stroke: $color-black;
    stroke-width: 2px;
}


.cell_flat_number,
.cell_flat_status {
    fill: $color-black;
    font-weight: 700; 
}

.floor_options {
    @extend .information_list;
    justify-content: unset;
    gap: 0px;
}

.floor_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    width: 216px;
    & div:last-child {
        font-size: 18px;
        color: $hover-link;
        font-weight: 700;
    }
}
