@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: $hover-link;
    color: $color-primary;
}

html {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $text-color;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: $link-accent;
        transition: .2s;
    }
}

ul,
ol {
    & li {
        list-style: none;
    }
}

input:focus,
textarea:focus {
    outline: none;
    transform: none;
}

textarea {
    resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}

.container {
    max-width: 1350px;
    padding: 0 12px;
    margin: 0 auto;
}