header {
    --padding-right: 170px;

    padding: 15px var(--padding-right) 15px 0px;
    background: $color-primary;
    border-bottom: 1px solid $text-color;
    font-family: $accent-font;
    .container {
        display: flex;
    }
    .logo {
        display: inline-block;
        max-width: var(--padding-right);
    }
    .header_navigation {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 30px;
        gap: 50px;
        font-size: 18px;
        & a {
            position: relative;
            text-transform: uppercase;
            &:before,
            &:after {
                content: '';
                position: absolute;
                background: $hover-link;
                width: 0px;
                height: 2px;
                bottom: -5px;
                transform: translate(0, -50%);
            }
            &:before {
                right: 50%;
            }
            &:after {
                left: 50%;
            }
            &:hover:before,
            &:hover:after {
                width: 50%;
                transition: .2s;
            }
        }
    }
}