$main-font: "Open Sans", sans-serif;
$accent-font: "Noto Sans Display", sans-serif;


$text-color: #ebeced;
$link-accent: #ffffe4;

$hover-link: #dede52;

$color-primary: #182628; /* 100%*/
$color-primary-light: #192729cc; /* 80% */