$hover-link: #dede52;
$text-color: #e0e1e3;
// $color-primary: #1F2833;
// $color-primary-opasity: #1f2833d1;
// $color-primary: #092c2c;
// $color-primary-opasity: #092a2aca;
$color-primary: #182628;
$color-bg: #182628bd;
$color-primary-opasity: #182628e9;