<div class="build">
    <svg class="build_img" viewBox="0 0 1169 695">
        <image xlink:href="assets/img/build.png"/>
        <a href="floor-item.html">
            <path class="buid_path" data-address="Садова" data-floor="5" data-flats="6" data-flats-booked="1" data-flats-sold="5" d="M196 153.5V148.5L292 147.5V137.5H402L407.5 147.5H502V137.5H651.5V147.5H745L747.5 139.5H858V147.5H958V152H955.5V259H858L855.5 257H750L745 259H637.5H515H407.5H399H198.5V153.5H196Z"/>
        </a>
        <a href="floor-item.html">
            <path class="buid_path" data-address="Садова" data-floor="4" data-flats="8" data-flats-booked="3" data-flats-sold="1" d="M192 264.5V259.5L744 261.5L750.5 258.5H854.5L859 261.5L961.5 261V264H959.5V269H955V349.5H859V344.5H752.5L744 351H516.5H408L399.5 348.5H198.5V271L195.5 268.5V264.5H192Z"/>
        </a>
        <a href="floor-item.html">
            <path class="buid_path" data-address="Садова" data-floor="3" data-flats="8" data-flats-booked="0" data-flats-sold="3" d="M198.5 428V350.5L400 351L408.5 353.5H745L753.5 346.5H858V351.5H955V432.5H858V428H751L743.5 432.5H515H408.5L400 428H295.5H198.5Z"/>
        </a>
        <a href="floor-item.html">
            <path class="buid_path" data-address="Садова" data-floor="2" data-flats="8" data-flats-booked="1" data-flats-sold="5" d="M198 512.5V430H400.5L408 434H744.5L753 429.5H857V434H955V512.5H858.5V510.5H750.5L746.5 512.5H642.5V509H504.5V512.5H408L400.5 510.5H291.5V512.5H198Z"/>
        </a>
        <a href="floor-item.html">
            <path class="buid_path" data-address="Садова" data-floor="1" data-flats="6" data-flats-booked="4" data-flats-sold="2" d="M192 517V513L292.5 514V512H400.5L408.5 514H506V510.5H641.5V512V514H746L751 512H858V514H962V519.5H959V523H954V625H643L641.5 621H508L506 623H504H198.5V523H195V517H192Z"/>
        </a>
    </svg>
</div>

<div class="information_container">
    <div class="information">
        <h2>Інформація про будинок</h2>
        <ul class="information_list">
            <li class="list_item">Адреса будинку: <i>вул. <span id="address">Садова</span></i></li>
            <li class="list_item">Поверх: <i id="floor">2</i></li>
            <li class="list_item">Всього квартир: <i id="flats">36</i></li>
            <li class="list_item">Вільно: <i id="flats-free">36</i></li>
            <li class="list_item">Заброньовано: <i id="flats-booked">36</i></li>
            <li class="list_item">Продано: <i id="flats-sold">36</i></li>
        </ul>
    </div>
</div>