<div class="flat">
    <img class="flat_img" src="assets/img/flat.png" alt="">
</div>
<div class="information_container">
    <div class="information">
        <h2>Інформація про квартиру</h2>
        <ul class="information_list">
            <li class="list_item">Кількість кімнат: <i>3</i></li>
            <li class="list_item">Площа: <i>83м²</i></li>
            <li class="list_item">Кухня: <i>14м²</i></li>
            <li class="list_item">Кімната 1: <i>16,9м²</i></li>
            <li class="list_item">Кімната 2: <i>12,2м²</i></li>
            <li class="list_item">Кімната 3: <i>19м²</i></li>
            <li class="list_item">Ціна за м²: <i>1500$</i></li>
            <li class="list_item">Вартість: <i>57000$</i></li>
        </ul>
    </div>
</div>