
<div class="flat">
    <svg class="flat_img" viewBox="0 0 1731 612">
        <image xlink:href="assets/img/flat_4.png" />
        <path class="flat_item" data-triger-modal="success_flat" d="M536 322L536.5 106H757.5V61H881V503H758V322H536Z"/>
    </svg>
</div>

<div class="information_container test">
    <div class="information">
        <h2>Інформація про квартиру</h2>
        <ul class="information_list">
            <li class="list_item">Кількість кімнат: <i>3</i></li>
            <li class="list_item">Площа: <i>83м²</i></li>
            <li class="list_item">Кухня: <i>14м²</i></li>
            <li class="list_item">Кімната 1: <i>16,9м²</i></li>
            <li class="list_item">Кімната 2: <i>12,2м²</i></li>
            <li class="list_item">Кімната 3: <i>19м²</i></li>
            <li class="list_item">Ціна за м²: <i>1500$</i></li>
            <li class="list_item">Вартість: <i>57000$</i></li>
        </ul>
    </div>
</div>