<div id="1" class="flat_content">
    <div class="flat_svg">
        <svg class="flat_img" viewBox="0 0 1731 612">
            <image xlink:href="assets/img/flat_1.png"/>
            <path class="flat_item" data-trigger-modal="success_flat" d="M37 500V60H160V105H381V319H160V500H37Z"/>
        </svg>
    </div>
</div>
<div id="2" class="flat_content">
    <div class="flat_svg">
        <svg class="flat_img" viewBox="0 0 1731 612">
            <image xlink:href="assets/img/flat_2.png" />
            <path class="flat_item" data-trigger-modal="success_flat" d="M121 481V295H468V553H231V481H121Z"/>
        </svg>   
    </div>
</div>
<div id="3" class="flat_content">
    <div class="flat_svg">
        <svg class="flat_img" viewBox="0 0 1731 612">
            <image xlink:href="assets/img/flat_3.png" />
            <path class="flat_item" data-trigger-modal="success_flat" d="M445 551V290H794V477H685V551H445Z"/>
        </svg>
    </div>
</div>
<div id="4" class="flat_content">
    <div class="flat_svg">
        <svg class="flat_img" viewBox="0 0 1731 612">
            <image xlink:href="assets/img/flat_4.png" />
            <path class="flat_item" data-trigger-modal="success_flat" d="M536 322L536.5 106H757.5V61H881V503H758V322H536Z"/>
        </svg>
    </div>
</div>
<div id="5" class="flat_content">
    <div class="flat_svg">
        <svg class="flat_img" viewBox="0 0 1731 612">
            <image xlink:href="assets/img/flat_5.png"/>
            <path class="flat_item" data-trigger-modal="success_flat" d="M1195 322L1194.5 106H973.5V61H850V503H973V322H1195Z"/>
        </svg>
    </div>
</div>
<div id="6" class="flat_content">
    <div class="flat_svg">
        <svg class="flat_img" viewBox="0 0 1731 612">
            <image xlink:href="assets/img/flat_6.png"/>
            <path class="flat_item" data-trigger-modal="success_flat" d="M948 484V298H1174V556H1050V484H948Z"/>
        </svg>
    </div>
</div>
<div id="7" class="flat_content">
    <div class="flat_svg">
        <svg class="flat_img" viewBox="0 0 1731 612">
            <image xlink:href="assets/img/flat_7.png"/>
            <path class="flat_item" data-trigger-modal="success_flat" d="M1161 556V298H1393V556H1161Z"/>
        </svg>
    </div>
</div>
<div id="8" class="flat_content">
    <div class="flat_svg">
        <svg class="flat_img" viewBox="0 0 1731 612">
            <image xlink:href="assets/img/flat_8.png"/>
            <path class="flat_item" data-trigger-modal="success_flat" d="M1370 552.114V301L1595 301.114V482.114H1493V552.114H1370Z"/>
        </svg>
    </div>
</div>
<div id="9" class="flat_content">
    <div class="flat_svg">
        <svg class="flat_img" viewBox="0 0 1731 612">
            <image xlink:href="assets/img/flat_9.png"/>
            <path class="flat_item" data-trigger-modal="success_flat" d="M1350 318V104H1571V59H1693V499H1571V318H1350Z"/>
        </svg>
    </div>
</div>

<div class="information_container">
    <div class="information">
        <h2>Інформація про квартиру</h2>
        <ul class="flat_info">
            <li class="list_item">Кількість кімнат: <i>3</i></li>
            <li class="list_item">Площа: <i>83м²</i></li>
            <li class="list_item">Кухня: <i>14м²</i></li>
            <li class="list_item">Кімната 1: <i>16,9м²</i></li>
            <li class="list_item">Кімната 2: <i>12,2м²</i></li>
            <li class="list_item">Кімната 3: <i>19м²</i></li>
            <li class="list_item">Ціна за м²: <i>1500$</i></li>
            <li class="list_item">Вартість: <i>57000$</i></li>
        </ul>
    </div>
</div>