<div class="floor">
    <svg viewBox="0 0 1731 612" xmlns="http://www.w3.org/2000/svg">
        <image xlink:href="assets/img/floor-item.png"/>
        <g data-flat-number="1" class="flat">
            <path class="flat_stroke" d="M157 80H44L44.5 480.5H151.5V297H157V311.5H351V299.5H358V277H351V121H157V80Z"/>
            <g class="status_box">
                <path class="status_overlay" d="M337 270H215V305H337V270Z"/>
                <path class="number_overlay" d="M248 270H215V305H248V270Z"/>
                <text class="cell_flat_number">
                    <tspan class="flat_number" x="228" y="293.318">1</tspan>
                </text>
                <text class="cell_flat_status">
                    <tspan id="status" class="flat_status" x="257" y="293.318"></tspan>
                </text>
            </g>
        </g>
        <g data-flat-number="2" class="flat">
            <path class="flat_stroke" d="M379 316.5H156.5V480.5H243.5V546.5H455.5L454 316.5H404.5V311.5H379V316.5Z"/>
            <g class="status_box">
                <path class="status_overlay" d="M447 325H325V360H447V325Z"/>
                <path class="number_overlay" d="M358 325H325V360H358V325Z"/>
                <text class="cell_flat_number">
                    <tspan class="flat_number" x="336" y="348.318">2</tspan>
                </text>
                <text class="cell_flat_status">
                    <tspan id="status" class="flat_status" x="367" y="348.318"></tspan>
                </text>
            </g>
        </g>
        <g data-flat-number="3" class="flat">
            <path class="flat_stroke" d="M510.5 316.5H458.5V547H670.5V480.5H757.5V316.5H662.5V330H656.5V316.5H562.5V327.5H556.5V316.5H532.5V311.5H510.5V316.5Z"/>
            <g class="status_box">
                <path class="status_overlay" d="M749 325H627V360H749V325Z"/>
                <path class="number_overlay" d="M660 325H627V360H660V325Z"/>
                <text class="cell_flat_number">
                    <tspan class="flat_number" x="638" y="348.318">3</tspan>
                </text>
                <text class="cell_flat_status">
                    <tspan id="status" class="flat_status" x="669" y="348.318"></tspan>
                </text>
            </g>
        </g>
        <g data-flat-number="4" class="flat">
            <path class="flat_stroke" d="M562.5 276.5H556.5V299.5L562.5 300.5V311.5H762L762.5 480.5L858.5 481V80.5H757.5V121.5H562.5V276.5Z"/>
            <g class="status_box">
                <path class="status_overlay" d="M695 136H573V171H695V136Z"/>
                <path class="number_overlay" d="M606 136H573V171H606V136Z"/>
                <text class="cell_flat_number">
                    <tspan class="flat_number" x="584" y="159.318">4</tspan>
                </text>
                <text class="cell_flat_status">
                    <tspan id="status" class="flat_status" x="615" y="159.318"></tspan>
                </text>
            </g>
        </g>
        <g data-flat-number="5" class="flat">
            <path class="flat_stroke" d="M868 481L868.5 80.5H969.5V121.5H1164.5V259.5H1131.5L1132 272.5V297H1125.5V311.5H964.5L965 480.5L868 481Z"/>
            <g class="status_box">
                <path class="status_overlay" d="M1161 126H1039V161H1161V126Z"/>
                <path class="number_overlay" d="M1072 126H1039V161H1072V126Z"/>
                <text class="cell_flat_number">
                    <tspan class="flat_number" x="1050" y="149.318">5</tspan>
                </text>
                <text class="cell_flat_status">
                    <tspan id="status" class="flat_status" x="1081" y="149.318">вв</tspan>
                </text>
            </g>
        </g>
        <g data-flat-number="6" class="flat">
            <path class="flat_stroke" d="M969.5 481V316.5H1164.5V546.5H1057.5V481H969.5Z"/>
            <g class="status_box">
                <path class="status_overlay" d="M1161 325H1039V360H1161V325Z"/>
                <path class="number_overlay" d="M1072 325H1039V360H1072V325Z"/>
                <text class="cell_flat_number">
                    <tspan class="flat_number" x="1050" y="348.318">6</tspan>
                </text>
                <text class="cell_flat_status">
                    <tspan id="status" class="flat_status" x="1081" y="348.318"></tspan>
                </text>
            </g>
        </g>
        <g data-flat-number="7" class="flat">
            <path class="flat_stroke" d="M1369.5 546.5H1170.5V316.5H1323.5V310.5H1346.5V316.5H1369.5V546.5Z"/>
            <g class="status_box">
                <path class="status_overlay" d="M1362 325H1240V360H1362V325Z"/>
                <path class="number_overlay" d="M1273 325H1240V360H1273V325Z"/>
                <text class="cell_flat_number">
                    <tspan class="flat_number" x="1252" y="348.318">7</tspan>
                </text>
                <text class="cell_flat_status">
                    <tspan id="status" class="flat_status" x="1282" y="348.318"></tspan>
                </text>
            </g>
        </g>
        <g data-flat-number="8" class="flat">
            <path class="flat_stroke" d="M1482.5 546.5H1375.5V316.5H1385.5V311.5H1407.5V316.5H1570.5V480.5H1482.5V546.5Z"/>
            <g class="status_box">
                <path class="status_overlay" d="M1567 324H1445V359H1567V324Z"/>
                <path class="number_overlay" d="M1478 324H1445V359H1478V324Z"/>
                <text class="cell_flat_number">
                    <tspan class="flat_number" x="1456" y="347.318">8</tspan>
                </text>
                <text class="cell_flat_status">
                    <tspan id="status" class="flat_status" x="1487" y="347.318"></tspan>
                </text>
            </g>
        </g>
        <g data-flat-number="9" class="flat">
            <path class="flat_stroke" d="M1414.5 296.5V311.5H1570.5V296.5H1575.5V480.5H1681.5V80H1570.5V121.5H1375.5V268.5H1408.5V296.5H1414.5Z"/>
            <g class="status_box">
                <path class="status_overlay" d="M1506 139H1384V174H1506V139Z"/>
                <path class="number_overlay" d="M1417 139H1384V174H1417V139Z"/>
                <text class="cell_flat_number">
                    <tspan class="flat_number" x="1395" y="162.318">9</tspan>
                </text>
                <text class="cell_flat_status">
                    <tspan id="status" class="flat_status" x="1426" y="162.318"></tspan>
                </text>
            </g>
        </g>
    </svg>
</div>
<div class="information_container">
    <div class="information">
        <h2>Інформація про квартиру</h2>
        <div class="floor_options">
            <div class="floor_option">
                <div>Номер квартири:</div>
                <div>5</div>
            </div>
            <div class="floor_option">
                <div>Кількість кімнат:</div>
                <div>2</div>
            </div>
            <div class="floor_option">
                <div>Площа:</div>
                <div>38м²</div>
            </div>
            <div class="floor_option">
                <div>Ціна за м²</div>
                <div>1500$</div>
            </div>
            <div class="floor_option">
                <div>Загальна вартість:</div>
                <div>57000$</div>
            </div>
            <div class="floor_option">
                <div>Статус:</div>
                <div class="status_option"></div>
            </div>                
        </div>
    </div>
</div>