<header>
    <div class="container">
        <a href="index.html" class="logo">
            <img src="assets/img/logo.png" alt="logo">
        </a>
        <nav class="header_navigation">
            <a href="index.html">Genplan</a>
            <a href="build-item.html">Build-item</a>
            <a href="floor-item.html">Floor-item</a>
            <a href="flat-item.html">Flat-item</a>
        </nav>
        <div class="btn_row">
            <!-- <button class="btn modal_btn" data-trigger-modal="sold">bild</button>
            <button class="btn modal_btn" data-trigger-modal="sold_floor">floor</button>
            <button class="btn modal_btn" data-trigger-modal="sold_flat">flat</button>
            <button class="btn modal_btn" data-trigger-modal="success_flat">flat success</button> -->
            <button class="btn modal_btn" trigger="redirectToFlatItem(4)">flat_4</button>
            <button class="btn modal_btn" data-trigger-flat-page="flat_5">flat_5</button>
        </div>
    </div>
</header>

